h1 span{
    color: green;
}
    
h1{
    color: red;
    background-color: pink;
    display: inline;
}
h2{
   border-width: 10px;
   border-color: black;
   border-style: double;
   padding-top: 50px;
   margin-top: 50px;
   background-color: pink;
   padding-left: 70px;
   margin-left: 70px;
   display: inline-block;
}
h3{
    border: 1px solid black;
    padding: 10px 40px 70px 120px;
    margin: 50px 0 20px 10px;
    color: #3366ff;
    background-color: rgb(255, 102, 0);
}
h5{
    background-color: violet;
}
.red{
    color: red
}
.bg-yellow{
    background-color: yellow;
}
.f-30{
    font-size: 30px;
}
.my-class{
    font-size: 50px;
    line-height: 1;
    letter-spacing: 10px;
}