@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9faff;
    margin: 0;
    padding: 0;
}

/*intro image*/
.intro-image {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 10;
    height: auto;
    object-fit: cover;
}

/*header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
    font-family: "Comfortaa", serif;
}

.header nav a {
    margin: 20px;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    font-family: "Raleway", serif;
}

.header nav a:hover {
    color: #facc15;
}


/*introduction*/
.hero {
    padding: 10px 120px;
    text-align: center;
}

.intro-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-text {
    width: 50%;
    text-align: left;
}

.intro-text .ht1 {
    color: #FDC435;
    font-family: "Nunito", serif;
    font-weight: bold;
    font-size: 20px;
}

.intro-text .ht2 {
    font-size: 60px;
    margin: 10px 0;
    font-family: "Playfair Display", serif;
}

.intro-text .ht3 {
    margin: 10px 0;
    font-family: "Nunito", serif;
    font-style: normal;
    font-size: 15px;
}

.hero .buttons {
    margin-top: 20px;
}

.hero .buttons button {
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
    color: #333333;
    font-weight: bold;
    transition: background-color 0.3s;
    font-family: "Roboto", serif;
}

.hero .buttons button:hover {
    background-color: #FDC435;
    color: black;
    border: none;
}

.hero img {
    flex: 1;
    max-width: 100%;
    height: auto;
}


/*projects*/
.projects {
    padding: 50px;
    text-align: center;
    font-family: "Playfair Display", serif;
    margin-top: 300px;
}
  
.projects h2 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 80px;
        position: relative;
}

.projects h2::after {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    background-color: #FDC435;
    margin: 10px auto 0;
    
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 1000px;
    margin: 0 auto;
    align-items: flex-start;
}

.project-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}
  
.project-card img {
    width: 50%;
    object-fit: cover;
}
  
.project-details {
    padding: 15px;
    flex: 1;
}
  
.project-details h3 {
    font-size: 40px;
    margin-left: 20px;
    text-align: left;
    font-family: "Playfair Display", serif;
}
  
.project-details p {
    font-size: 15px;
    margin-left: 20px;
    text-align: left;
    font-family: "Nunito", serif;
}
  
.projects .project-details button {
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    padding: 12px 24px;
    font-family: "Roboto", serif;
}
  
button:hover {
    background-color: #FDC435;
}
  

/*contacts*/
.contact {
    padding: 50px;
    text-align: center;
}

.contact h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: #333333;
    position: relative;
    font-family: "Playfair Display", serif;
}

.contact h2::after {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    background-color: #FDC435;
    margin: 10px auto 0;
    
}


.contact-form {
    max-width: 400px;
    margin: auto;
    display: grid;
    gap: 15px;
}

.contact .contact-form label{
    font-family: "Nunito", serif;
}

.contact-form label {
    font-size: 15px;
    text-align: left;
}

.contact-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    outline: none;
}

.contact-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #FDC435;
  background-color: #fff;
}

.contact-form .send-btn {
    padding: 15px 30px;
    background-color: #FDC435;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90px;
    margin-left: auto;
}


.contact form button:hover {
    background-color: #ffd700;
}


/*socials*/
.socials {
    margin-top: 20px;
}
   
.socials img {
    padding: 20px 0;
    width: 25px;
    height: 25px;
    margin: 0 10px;
}
  
p {
    margin-top: 25px;
    font-size: 15px;
    color: #aaa;
    font-family: "Nunito", serif;
}